.login-form-fields {
    position: relative;
    /* left: 50%; */
    padding-top: 2%;
    top: 50%;
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    font-family: Ubuntu;
    font-style: normal;
    font-weight: bold;
    font-size: 100%;
    white-space: nowrap;
}

.mat-flat-button.mat-primary {
    padding: 3%;
    border-radius: 30px;
    text-align: center;
    font-family: Ubuntu;
    font-style: normal;
    font-weight: bold;
    font-size: 120%;
    color: rgba(33, 47, 81, 1);
    text-transform: capitalize;
    background-color: rgba(74,139,213,1);
    width: 100%;
    height: 70%;
}

.login-form-button {
    position: relative;
    left: 42%;
    top: 20%;
    width: 15%;
    justify-content: center;
    border-radius: 0;
}

#part1 {
    width: 50%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

#part2 {
    margin-top: 6%;
    height: 100%;
}

#signIn {
    position: relative;
    left: 42%;
    top: 37%;
    overflow: visible;
    width: 15%;
    white-space: nowrap;
    text-align: center;
    font-family: Ubuntu;
    font-style: normal;
    font-weight: normal;
    font-size: 150%;
    color: rgba(33, 47, 81, 1);
    text-transform: capitalize;
}

#loginText {
    color: white;
}

#error {
    color: red;
}

#logoImg {
    width: 100%;
}

#loginContainer{
    /* background-color: rgb(245, 245, 245); */
}